p {
  margin-block: 1rem 3rem;
  text-align: center;
}

button {
  margin: 0;
  padding-block: 0.5rem;
  padding-inline: 0.25rem;
  background-color: #c20f0f;
  border-color: #f32f2f;
}

img {
  block-size: auto;
  inline-size: 10rem;
}
