/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-block: 2rem 3rem;
  text-align: center;
}

.container {
  margin-inline: auto;
  inline-size: min(90%, 1400px);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-block-end: 2rem;
}
